<ul id="nav">
    <li class="i_house"><a active="dashboard" href="../dashboard/dashboard.aspx"><span>Dashboard</span></a></li>
   
    <li class="i_book" ><a access_table="hp_product" active="product"><span>Product</span></a>
        <ul>
        	<li class="i_table"><a href="../product/list.php"><span>Manage Product</span></a></li>
            <li class="i_table"><a href="../product/gallery.aspx"><span>Gallery</span></a></li>
        </ul>
    </li>
   <li class="i_book" ><a access_table="hp_news" active="news"><span>News</span></a>
        <ul>
        	<li class="i_table"><a href="../news/datatable.aspx"><span>Manage News</span></a></li>
            <li class="i_table"><a href="../news/gallery.aspx"><span>Gallery</span></a></li>
        </ul>
   </li>
    <li class="i_file_cabinet" ><a  active="category"><span>Category</span></a>
        <ul>
        	<li class="i_table"><a href="../category/list.php?category_type=1"><span>Product Category</span></a></li>
            <li class="i_table"><a href="../category/list.php?category_type=0"><span>News Category</span></a></li>
        </ul>
    </li>
   <li class="i_book" ><a  href="../media/datatable.aspx" access_table="hp_banner" active="banner"><span>Media</span></a>
   <li class="i_book" ><a  href="../banner/datatable.aspx" access_table="hp_banner" active="banner"><span>Banner</span></a>
   </li>  
   <li class="i_calendar_day"><a href="form.html"><span>Calendar</span></a></li>
</ul>